# Cars Mileage Prediction

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Business Problem

Fuel efficiency has become a critical factor in the automotive industry due to several key reasons:

### Objective

The goal is to understand the factors influencing fuel efficiency (measured in miles per gallon, mpg) in cars. This analysis will aid automotive manufacturers and consumers in making informed decisions regarding car design, purchasing, and usage. Specifically, we aim to identify the key determinants of fuel efficiency and provide actionable insights to improve it.

### Contraints

Informed Decision-Making: Consumers can use insights from the analysis to choose vehicles that meet their needs for fuel efficiency and performance.
Cost Savings: Improved fuel efficiency translates to lower fuel costs over time, offering financial benefits to consumers.

### Importing Dataset

In [2]:
df=pd.read_excel(r"C:\Users\G0d\Downloads\mtcars.xlsx")

In [3]:
df.isna().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

## Model Building

In [6]:
X=df.drop("mpg",axis=1)
y=df['mpg']

In [7]:
X

    cyl    disp   hp  drat     wt   qsec  vs  am  gear  carb
0     6   160.0  110  3.90  2.620  16.46   0   1     4     4
1     6   160.0  110  3.90  2.875  17.02   0   1     4     4
2     4   108.0   93  3.85  2.320  18.61   1   1     4     1
3     6   258.0  110  3.08  3.215  19.44   1   0     3     1
4     8   360.0  175  3.15  3.440  17.02   0   0     3     2
5     6   225.0  105  2.76  3.460  20.22   1   0     3     1
6     8   360.0  245  3.21  3.570  15.84   0   0     3     4
7     4   146.7   62  3.69  3.190  20.00   1   0     4     2
8     4   140.8   95  3.92  3.150  22.90   1   0     4     2
9     6   167.6  123  3.92  3.440  18.30   1   0     4     4
10    6   167.6  123  3.92  3.440  18.90   1   0     4     4
11    8   275.8  180  3.07  4.070  17.40   0   0     3     3
12    8   275.8  180  3.07  3.730  17.60   0   0     3     3
13    8   275.8  180  3.07  3.780  18.00   0   0     3     3
14    8  1472.0  205  2.93  5.250  17.98   0   0     3     4
15    8   460.0  215  3.00  5.424  17.82   0   0     3     4
16    8   440.0  230  3.23  5.345  17.42   0   0     3     4
17    4    78.7   66  4.08  2.200  19.47   1   1     4     1
18    4    75.7   52  4.93  1.615  18.52   1   1     4     2
19    4    71.1   65  4.22  1.835  19.90   1   1     4     1
20    4   120.1   97  3.70  2.465  20.01   1   0     3     1
21    8   318.0  150  2.76  3.520  16.87   0   0     3     2
22    8   304.0  150  3.15  3.435  17.30   0   0     3     2
23    8   350.0  245  3.73  3.840  15.41   0   0     3     4
24    8   400.0  175  3.08  3.845  17.05   0   0     3     2
25    4    79.0   66  4.08  1.935  18.90   1   1     4     1
26    4   120.3   91  4.43  2.140  16.70   0   1     5     2
27    4    95.1  113  3.77  1.513  16.90   1   1     5     2
28    8   351.0  264  4.22  3.170  14.50   0   1     5     4
29    6   145.0  175  3.62  2.770  15.50   0   1     5     6
30    8   301.0  335  3.54  3.570  14.60   0   1     5     8
31    4   121.0  109  4.11  2.780  18.60   1   1     4     2

In [8]:
y

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

#### Splitting into Train and Test

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_test_split(X,y,test_size=0.2,random_state=30)

[    cyl    disp   hp  drat     wt   qsec  vs  am  gear  carb
 19    4    71.1   65  4.22  1.835  19.90   1   1     4     1
 0     6   160.0  110  3.90  2.620  16.46   0   1     4     4
 6     8   360.0  245  3.21  3.570  15.84   0   0     3     4
 11    8   275.8  180  3.07  4.070  17.40   0   0     3     3
 4     8   360.0  175  3.15  3.440  17.02   0   0     3     2
 15    8   460.0  215  3.00  5.424  17.82   0   0     3     4
 24    8   400.0  175  3.08  3.845  17.05   0   0     3     2
 27    4    95.1  113  3.77  1.513  16.90   1   1     5     2
 16    8   440.0  230  3.23  5.345  17.42   0   0     3     4
 28    8   351.0  264  4.22  3.170  14.50   0   1     5     4
 1     6   160.0  110  3.90  2.875  17.02   0   1     4     4
 7     4   146.7   62  3.69  3.190  20.00   1   0     4     2
 9     6   167.6  123  3.92  3.440  18.30   1   0     4     4
 3     6   258.0  110  3.08  3.215  19.44   1   0     3     1
 14    8  1472.0  205  2.93  5.250  17.98   0   0     3     4
 17    4    78.7   66  4.08  2.200  19.47   1   1     4     1
 21    8   318.0  150  2.76  3.520  16.87   0   0     3     2
 2     4   108.0   93  3.85  2.320  18.61   1   1     4     1
 23    8   350.0  245  3.73  3.840  15.41   0   0     3     4
 12    8   275.8  180  3.07  3.730  17.60   0   0     3     3
 20    4   120.1   97  3.70  2.465  20.01   1   0     3     1
 29    6   145.0  175  3.62  2.770  15.50   0   1     5     6
 13    8   275.8  180  3.07  3.780  18.00   0   0     3     3
 31    4   121.0  109  4.11  2.780  18.60   1   1     4     2
 5     6   225.0  105  2.76  3.460  20.22   1   0     3     1,
     cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
 30    8  301.0  335  3.54  3.570  14.60   0   1     5     8
 22    8  304.0  150  3.15  3.435  17.30   0   0     3     2
 10    6  167.6  123  3.92  3.440  18.90   1   0     4     4
 26    4  120.3   91  4.43  2.140  16.70   0   1     5     2
 8     4  140.8   95  3.92  3.150  22.90   1   0     4     2
 25    4   79.0   66  4.08  1.935  18.90   1   1     4     1
 18    4   75.7   52  4.93  1.615  18.52   1   1     4     2,
 19    33.9
 0     21.0
 6     14.3
 11    16.4
 4     18.7
 15    10.4
 24    19.2
 27    30.4
 16    14.7
 28    15.8
 1     21.0
 7     24.4
 9     19.2
 3     21.4
 14    10.4
 17    32.4
 21    15.5
 2     22.8
 23    13.3
 12    17.3
 20    21.5
 29    19.7
 13    15.2
 31    21.4
 5     18.1
 Name: mpg, dtype: float64,
 30    15.0
 22    15.2
 10    17.8
 26    26.0
 8     22.8
 25    27.3
 18    30.4
 Name: mpg, dtype: float64]

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=23)

In [24]:
X_train.shape

(25, 10)

In [25]:
X_test.shape

(7, 10)

In [26]:
y_train.shape

(25,)

In [27]:
y_test.shape

(7,)

##### KNN

In [28]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [29]:
knn=KNeighborsRegressor()
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

2.452287561790887

##### Linear Regression

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
li=LinearRegression()
li.fit(X_train,y_train)
y_pred=li.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

2.787583096455544

##### Support vector Machine

In [21]:
from sklearn.svm import SVR

In [22]:
sv=SVR()
sv.fit(X_train,y_train)
y_pred=sv.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

3.969747208000536

#### Decision tree

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
dt=DecisionTreeRegressor()
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

3.4819945023342163

In [25]:
li.intercept_

10.430400942016227

In [26]:
li.coef_

array([ 7.46557954e-01,  6.83111972e-04, -2.35320046e-02, -2.56985318e-01,
       -3.79890393e+00,  8.46498044e-01,  7.09638924e-01,  1.85245022e+00,
        1.65573280e+00, -3.65918332e-01])

In [28]:
li.predict([[4,100.0,150,3.5,2.56,15.01,1,0,4,2]])

C:\Users\G0d\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18.63716969])

In [41]:
cyl=4
disp=100.0
hp=150
drat=3.5
wt=2.56
qsec=15.01
vs=1
am=0
gear=4
carb=2
millege=(7.46557954e-01*4+6.83111972e-04*100.0+-2.35320046e-02*150+-2.56985318e-01*3.5+
         -3.79890393e+00*2.56+8.46498044e-01*15.01+7.09638924e-01*1+
         1.85245022e+00*0+1.65573280e+00*4+-3.65918332e-01*2+10.430400942016227)

In [42]:
print(millege)

18.63716969185623

In [32]:
import pickle

In [33]:
pickle.dump(li,open('li.pkl','wb'))